:root {
    --btn-color: #63b197;
    --chechoutBtn-color: #f17b7b;
}

.continer {
    display: flex;
    justify-content: center;
}

.table {
    position: relative;
    margin: 100px 0 100px 0;
    width: 85%;
    max-width: 1300px;
}


/* Buttons */
.btns {
    display: flex;
    justify-content: flex-end;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    margin: 10px 0;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    cursor: pointer;
}

#checkoutBtn {
    color: var(--chechoutBtn-color);
}


.btn:hover {
    background: var(--btn-color);
    color: #336857;
    box-shadow: 0 0 5px var(--btn-color),
        0 0 25px var(--btn-color),
        0 0 50px var(--btn-color),
        0 0 200px var(--btn-color);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#checkoutBtn:hover {
    background: var(--chechoutBtn-color);
    color: #942b2b;
    box-shadow: 0 0 5px var(--chechoutBtn-color),
        0 0 25px var(--chechoutBtn-color),
        0 0 50px var(--chechoutBtn-color),
        0 0 200px var(--chechoutBtn-color);
}

.btn:nth-child(1) {
    filter: hue-rotate(270deg);
}

.btn:nth-child(2) {
    filter: hue-rotate(110deg);
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--btn-color));
    animation: animate1 1s linear infinite;
}

#checkoutBtn span:nth-child(1) {
    background: linear-gradient(90deg, transparent, var(--chechoutBtn-color));
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--btn-color));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

#checkoutBtn span:nth-child(2) {
    background: linear-gradient(180deg, transparent, var(--chechoutBtn-color));
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--btn-color));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

#checkoutBtn span:nth-child(3) {
    background: linear-gradient(270deg, transparent, var(--chechoutBtn-color));
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--btn-color));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

#checkoutBtn span:nth-child(4) {
    background: linear-gradient(360deg, transparent, var(--chechoutBtn-color));
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media screen and (max-width: 1130px) {
    .table {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .thead {
        display: none;
    }

    .table {
        width: 95%
    }

    .subTotal {
        position: absolute;
        font-size: 16px;
        top: calc(97% + 37px);
        right: 20px;
        background-color: #0e3628;
        border-radius: 100px;
        box-shadow: 1px 1px 5px 1px gray;
    }

    .btns {
        margin-top: 70px;
    }

    .btn {
        padding: 15px 10px;
        margin: 0px 10px 0px 10px;
        letter-spacing: 2px;
    }
    
}


/* ############################################ CartTableBody ############################################ */

.productInDetail {
    display: flex;
}

.productNotInDetail {
    display: flex;
    align-items: center;

}

.productImg {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.productQuantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -40px;
}

.forResponsive {
    display: none;
}


@media screen and (max-width: 1540px) {
    .productInDetail {
        flex-direction: column;
    }
}

@media screen and (max-width: 1360px) {
    .productNotInDetailContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .productNotInDetail {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    /* To adjust the layout when used in checkout */
    .goUpward {
        position: relative;
        top: -90px;
    }
}

@media screen and (max-width: 900px) {
    .cartTableBody {
        display: flex;
        flex-direction: column;
        border-top: 2px rgb(5, 37, 5) solid;
        align-items: center;
        width: 100%
    }

    .priceTd {
        width: 200px;
        display: flex;
    }

    .quantityTd {
        width: 100%;
    }

    .totalTd {
        width: 200px;
        display: flex;
    }

    .productQuantity {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 0 120px 0 120px;
    }

    .forResponsive {
        display: flex;
        margin-right: 10px;
    }
}

@media screen and (max-width: 750px) {
    .cartTableBody {
        width: 100%
    }
}
