:root {
    --btn-color: #63b197;
}

/* ########## products ########## */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: calc(13% - 70px);
}

.product {
    width: 480px;
    height: 600px;
    margin: 10px 0 10px 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImgName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImg {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 200ms 0ms ease-in;
}

.productImg:hover {
    width: 410px;
    height: 410px;
    margin-bottom: 0px;
}

.productImg:hover~.productName {
    transition: all 200ms 0ms ease-in;
    transform: translateX(-45px)
}

.product>div {
    display: flex;
    cursor: pointer;
}

.product>div>h3:nth-child(1) {
    font-size: 20px;
}

.product>div>h3:nth-child(2) {
    font-size: 20px;
    color: red;
    font-style: italic;
    text-decoration: line-through;
    margin-left: 10px;
}

@media screen and (max-width: 670px) {
    .product {
        width: 100%;
        height: 430px;
        margin: 5px 0 5px 0;
    }

    .productImg {
        width: 240px;
        height: 240px;
    }

    .productImg:hover {
        width: 240px;
        height: 240px;
    }

    .productImg:hover~.productName {
        transform: translateX(0px)
    }

}

/* ########## ADD TO CART btn ########## */
.addBtn {
    padding: 25px 30px;
    margin: 0 0 40px 0;
    border: var(--btn-color) 1px solid;
    border-radius: 7px;
    color: var(--btn-color);
    transition: 0.5s;
    letter-spacing: 2px;
    cursor: pointer;
}

.addBtn:hover {
    background: var(--btn-color);
    color: #336857;
    box-shadow: 0 0 5px var(--btn-color),
        0 0 15px var(--btn-color),
        0 0 30px var(--btn-color);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.spiner {
    position: relative;
    left: calc(52% - 80px);
    margin: 100px 0 100px 0;
}

@media screen and (max-width: 670px) {
    .addBtn {
        padding: 15px 20px;
    }
}


/* ########## Scroll cart ########## */
.hideScrollDownCart {
    background: radial-gradient(circle, rgb(175, 187, 180) 0%, #f1f1f1 100%);
    width: 85px;
    height: 45px;
    border-radius: 40px;
    border: #e1e1e1 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -50px;
    left: calc(90% - 100px);
    transition: all 200ms 0s ease-in-out;
}

.showScrollDownCart {
    background: radial-gradient(circle, rgb(175, 187, 180) 0%, #f1f1f1 100%);
    width: 85px;
    height: 45px;
    color: rgb(3, 37, 2);
    border-radius: 40px;
    border: #e1e1e1 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 30px;
    left: calc(90% - 100px);
    transition: all 1s 0s ease-in-out;
}

/* ######################################## PostNumberPagination #################################### */

.postNumberPagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.price{
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    align-items: baseline;
}

.price > input{
    width: 500px;
}

.price > h3:nth-child(3){
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 670px) {
    .price{
        width: 100%;
    }

    .price > input{
        width: calc(100% - 170px)
    }
}

/* ############################################ MenuBar ############################################ */

.menus {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    color: white;
}

.searchIcon {
    background: linear-gradient(#99dac4, var(--btn-color), #5c9481);
    border-radius: 100px;
    color: white;
    width: 35px;
    height: 35px;
    margin-left: -38px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.menu {
    width: 90px;
    height: 50px;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.menu:hover {
    color: #113520;
    animation: bounce-top .9s both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-25px);
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        transform: translateY(-14px);
        animation-timing-function: ease-in
    }

    65% {
        transform: translateY(-7px);
        animation-timing-function: ease-in
    }

    82% {
        transform: translateY(-3px);
        animation-timing-function: ease-in
    }

    93% {
        transform: translateY(-2px);
        animation-timing-function: ease-in
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search :nth-child(1) {
    width: 450px;
    height: 38px;
}

@media screen and (max-width: 670px) {
    .search :nth-child(1) {
        width: 350px;
    }

    .menus {
        width: 100%;
    }

    .menu {
        padding: 6px;
    }
}


/* ########## Search List ########## */
.pastSearchList {
    position: absolute;
    top: 135px;
    left: calc(12% + 560px);
    border-radius: 7px;
    background-color: white;
    width: 330px;
}

.pastSearch {
    display: flex;
    justify-content: space-between;
}

.pastSearch>form {
    display: flex;
    width: 100%;
}

.pastSearch:hover {
    background-color: #f5f5f5;
    border-radius: 7px;
    cursor: pointer;
}

.keyWord {
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .menus {
        margin-top: 8px;
    }

    .menusSearch {
        display: flex;
        flex-direction: column;
    }

    .pastSearchList {
        position: absolute;
        top: 185px;
        left: calc(45% - 100px);
    }
}

@media screen and (max-width: 670px) {
    .menus {
        width: calc(100% - 80px) ;
        font-size: 14px;
    }

}