.container {
    display: flex;
}

.leftSide {
    width: 50%;
    height: 920px;
}

.rightSide {
    width: 50%;
    height: 920px;
}

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .leftSide {
        width: 100%;
        height: 300px;
    }

    .rightSide {
        width: 100%;
        height: 700px;
    }
}